body{
    text-transform: capitalize;
}
/* first section start */
.cricket-bennar{
    background-color: #000;
    display: flex;
    margin: 0 6%;
    align-items: center;
    border-radius: 12px;
    padding: 50px 40px;
    margin-bottom: 150px;

}
.bennar{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dennar-titel{
    width: 400px;
}
.cricket-bennar h1{
    font-weight: 700px;
    font-size: 35px;
    margin-bottom: 0px;
    margin-bottom: 15px;
}
.cricket-bennar p{
    margin-top: 0px;
}

.bennar img{
    width: 100%;
}
.bennar-information{
    color: #fff;

}
.bennar-information a{
    text-decoration: none;
    color: red;
}
.fa-duotone{
    color: red;
}

/* 2nd section start */
.play-section{
    display: flex;
    margin: 0 6%;
    margin-bottom: 150px;
}
.mach-info-catagory{
    width: 320px;
    height: 234px;
    background-color: #000;
}
.mach-info-catagory{
    display: flex;
    flex-direction: column;
    font-size: 26px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.catagory{
    margin-top: 15px;
    background-color: #fff;
    width: 250px;
    text-align: center;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 8px;

}
.blog{
    background-color: rgba(255, 0, 0, 0.873);
}

.photo{
    width: 50%;
}
.mach-photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 10px;
    
}
.mach-photo{
    
    height: 350px;
    border-radius: 8px;
    box-shadow: 0.5px 1px 10px;
}
.mach-photo img{
    width: 250px;
    height: 170px;
    border-radius: 5px;
}
.photo-title{
    padding: 0 8px;
}

.photo-title h3{
    margin: 0;
    font-size: 22px;
    border: 1px solid rgba(128, 128, 128, 0.661);
    width: 90px;
    margin-top: 3px;
    padding: 5px;
  
}
.like-commenst{
    display: flex;
    justify-content: space-evenly;
}
/* footer-section start */
.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 344px;
}
.footer-title{
    font-size: 26px;
    color: #fff;
}
.hr{
    width: 800px;
    margin: 50px 0;
}
.footter-items{
    display: flex;
    color: #fff;
    align-content: space-between;
}
.fotter-title{
    padding: 5px 15px;
}